{{!BEGIN-SNIPPET transitions-moveover-snippet.hbs}}
<div class="controls">
  <label>
    Show Hello
    <input
      type="checkbox"
      checked={{this.showHello}}
      {{on "change" this.toggleShowHello}}
    >
  </label>
</div>

<div class="move-over">
  <AnimatedContainer>
    {{#animated-if this.showHello rules=this.rules}}
      <div class="message hello">
        Hello
      </div>
    {{else}}
      <div class="message goodbye">
        Goodbye
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
{{!END-SNIPPET}}
